[Unit]
Description=Watch MQTT for actions to take
After=network.target

[Service]
Restart=on-failure
RestartSec=5s
User=zwhite
Environment=MQTT_HOST=127.0.0.1
ExecStart=/home/zwhite/mqtt_triggers/mqtt_triggers

[Install]
WantedBy=multi-user.target
